{% extends "components/base.html" %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'Authentication/css/request_password.css' %}" />
  <title>Recuperar Contraseña - MonitorAula</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<main class="login-body bg-gray-100 flex justify-center items-center h-screen">
  <div class="login-container bg-white p-8 rounded-lg shadow-lg max-w-lg w-full">
    <div class="text-center mb-6">
      <img class="logo mb-4 mx-auto" src="{% static 'Authentication/image/logo.jpeg' %}" alt="Logo">
      <h2 class="text-2xl font-bold text-gray-800">Recuperar Contraseña</h2> 
    </div>

    <form method="POST" id="reset-form" class="space-y-4">
      {% csrf_token %}
      
      <!-- Correo electrónico -->
      <div class="form-group">
        <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico:</label>
        <input type="email" name="email" required class="w-full p-3 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>

      <!-- Enviar código -->
      <button type="submit" class="w-full py-3 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-600">
        Enviar código
      </button>
    </form>
  </div>
</main>

{% endblock %}
