{% extends "components/base.html" %}

{% load static %}
{% block content %}
<div class="login-container">
    <div class="login-left">
        <div class="login-logo">
            <img src="{% static 'Authentication/image/Logo.jpeg' %}" alt="MODAMIND Logo">
<h2>Establecer nueva contraseña</h2>
<form method="post">
    {% csrf_token %}
    <label for="password1">Nueva contraseña:</label>
    <input type="password" name="password1" required>
    <label for="password2">Confirmar contraseña:</label>
    <input type="password" name="password2" required>
    <button type="submit">Guardar contraseña</button>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</form>
{% endblock %}
