{% extends "components/base.html" %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'Authentication/css/login.css' %}" />
  <title>Iniciar sesión - MonitorAula</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>


<main class="login-body bg-gray-100 flex justify-center items-center h-screen">
  <div class="login-container bg-white p-8 rounded-lg shadow-lg max-w-lg w-full">
    <div class="text-center mb-6">
      <img class="logo mb-4 mx-auto" src="{% static 'Authentication/image/logo.png' %}" alt="Logo">
      <h2 class="text-2xl font-bold text-gray-800">Sistema de Monitoreo de Atención</h2> 
      <p class="text-sm text-gray-600">Ingresa tus credenciales para continuar</p>
    </div>
    <form method="POST" id="login-form" class="space-y-4">
      {% csrf_token %}
      
      <!-- Usuario -->
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.username.label }}</label>
        {{ form.username }}
        {{ form.username.errors }}
      </div>

      <!-- Contraseña -->
      <div class="form-group">
        <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.password.label }}</label>
        {{ form.password }}
        {{ form.password.errors }}
      </div>

      <div class="flex justify-between items-center">
        <div class="options">
          <label><input type="checkbox" name="remember-me" /> Recordarme</label>
        </div>
        <div class="password-reset">
          <a href="{% url 'password_reset_custom' %}" class="text-sm text-blue-500 hover:underline">¿Olvidaste tu contraseña?</a>
        </div>
      </div>

      <button type="submit" class="w-full py-3 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-600">
        <i class="fas fa-sign-in-alt mr-2"></i> Iniciar sesión
      </button>

      {% if error %}
        <p class="text-red-500 text-center mt-2">{{ error }}</p>
      {% endif %}
    </form>

    <p class="text-sm text-center mt-4">
      ¿No tienes una cuenta? <a href="{% url 'signup' %}" class="text-blue-500 hover:underline">Regístrate aquí</a>
    </p>
  </div>
</main>

{% endblock %}
